@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot');
	src: local('../fonts/AvenirNextCyr/Avenir Next Cyr Medium'),
	local('../fonts/AvenirNextCyr/AvenirNextCyr-Medium'),
	url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff') format('woff'),
	url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}