<form action="" class="booking-form">
    <div class="booking-form__left">
        <div class="trip-location">
            <label class="trip-location__label" for="location">Место или название отеля</label>
            <div class="trip-location__input-wrap">
                <img src="../images/location.png" alt="" class="trip-location__input-marker">
                <input class="trip-location__input" id="location" placeholder="Введите здесь место">
            </div>
        </div>
        <div class="separator"></div>
        <div class="trip-date">
            <div class="trip-date__item trip-date__item-left">
                <label class="trip-date__item-label" for="startdate">Заезд</label>
                <div class="trip-date__item-wrap">
                    <img src="../images/calendar.png" alt="" class="trip-date__item-calendar">
                    <input type="date" id="startdate" name="trip-start"
                           value="2021-02-07"
                           min="2021-01-01" max="2021-12-30" class="startdate trip-date__item-input">
                </div>
            </div>
            <div class="trip-date__item trip-date__item-right">
                <label class="trip-date__item-label" for="finishdate">Выезд</label>
                    <input type="date" id="finishdate" name="trip-finish"
                           value="2021-02-22"
                           min="2021-01-02" max="2021-12-31" class="finishdate trip-date__item-input">
            </div>
        </div>
        <div class="separator separator__right"></div>
    </div>
    <div class="booking-form__right">
        <div class="trip-qty">
            <div class="trip-qty__item">
                <label for="suites" class="trip-qty__item-label">Номера</label>
                <input class="trip-qty__item-number" id="suites" type="number" min="1" value="1">
            </div>
            <div class="trip-qty__item">
                <label for="adults" class="trip-qty__item-label">Взрослые</label>
                <input class="trip-qty__item-number" id="adults" type="number" min="1" value="1">
            </div>
            <div class="trip-qty__item">
                <label for="kinder" class="trip-qty__item-label">Дети</label>
                <input class="trip-qty__item-number" id="kinder" type="number" min="0" value="0">
            </div>
            <button class="trip-button">+</button>
        </div>
        <div class="trip-submit">
            <button class="the-button">Найти</button>
        </div>
    </div>
</form>